*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    background: #fff;
    font-family: 'Roboto', sans-serif;

    -webkit-font-smoothing: antialiased !important
}

li{
    list-style: none;
}

.main{
    max-width: 900px;
    margin: 0 auto;
}

div.newPost{
    width: 100%;
    height: 240px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    padding: 25px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.2);
}

div.newPost div.infoUser{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.newPost div.infoUser div.imgUser{

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #333;
}

div.newPost div.infoUser strong{
    font-size: 16px;
    margin-left: 10px;
    color: #27187e;
}

div.newPost form.formPost{
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.newPost form.formPost textarea{
    height: 90px;
    background: #fbfbfb;
    margin: 15px 0;
    padding: 25px;
    border-radius: 10px;
    resize: none;
    outline: none;
    border: 0;

    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #727272;

}

div.newPost form.formPost div.iconsAndButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons{
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.newPost form.formPost div.iconsAndButton div.icons button{
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border: 0px;
    background: none;

    cursor: pointer;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm{
    background: #27187e;
    padding: 10px 50px;
    color: #fff;
    font-weight: bold;
    outline: none;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
    transition: background 0.2s;
}

div.newPost form.formPost div.iconsAndButton button.btnSubmitForm:hover{
    background: #27187e;

}

ul.posts li.post{
    margin-bottom: 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.05);
}

ul.posts li.post div.infoUserPost{
    display: flex;
    align-items: center;
}

ul.posts li.post div.infoUserPost div.nameAndHour{
    margin-left: 10px;
}

ul.posts li.post div.infoUserPost div.imgUserPost{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #27187e;
}

ul.posts li.post div.infoUserPost div.nameAndHour >strong{
    color: #333;
}

ul.posts li.post div.infoUserPost div.nameAndHour >p{
    color: #D1D1D1;
    font-size: 12px;
}

ul.posts li.post >p{
    width: 100%;
    margin: 20px 0;
    font-weight: bold;
    color: #727272;
}

ul.posts li.post div.actionBtnPost{
    display: flex;
    align-items: center;
    /*aqui pode colocar os botões de like, comment e share  cetralizados com     justify-content: center; */
}

ul.posts li.post div.actionBtnPost button.filesPost{
    padding: 5px 20px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    color: #27187e;
    font-size: 13px;

    font-weight: bold;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;

    transition: background 0.2s;
}

ul.posts li.post div.actionBtnPost button.filesPost img{
    margin-right: 5px;
}

.like{
    background: #ff6a6a;
}
.like:hover{
    background: #ff6a6a;
}
.comment{
    background: #ffcb6a;
}
.comment:hover{
    background: #ffcb6a;
}
.share{
    background: #6ab0ff;
}
.share:hover{
    background: #6ab0ff;
}

/*NAV BAR*/
#navbar ul { 
	margin: 0; 
	padding: 7px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #758bfd; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #758bfd; 
	} 
 
#navbar ul li a:hover { 
	
	background-color: #758bfd; 
	} 